@tailwind base;
@tailwind components;
@tailwind utilities;

:root
{
  --foreground-rgb: #353535;
  --background-start-rgb: #b8a07e;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark)
{
  :root
  {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body
{
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

main
{
  margin: 0;
  padding: 0;
}

p a
{
  color: chocolate;
  font-weight: 700;
  text-shadow: #f9f9f9 1px 1px;
}

p a:hover
{
  text-decoration: dotted underline black;
}

.hero h3
{
  color: #555;
}

.hero h1
{
  color: #333;
}

.div-img
{
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

.div-img .about-img img
{
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Example Styles for React Tags*/
div.ReactTags__tags
{
  position: relative;
}

/* Styles for the input */
div.ReactTags__tagInput
{
  border-radius: 2px;
  display: inline-block;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus
{
  height: 2rem;
  margin: 0;
  font-size: 12px;
  width: 24rem;
  border: 1px solid #eee;
  padding: 0 4px;
  --tw-border-opacity: 1;
  border-color: rgb(3 105 161);
  border-radius: 0.25rem;
}


/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag
{
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 10px 5px;
  cursor: move;
  border-radius: 2px;
}

.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions
{
  position: absolute;
}

div.ReactTags__suggestions ul
{
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li
{
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark
{
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion
{
  background: #b7cfe0;
  cursor: pointer;
}