@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #353535;
  --background-start-rgb: #f8f8f8;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

main {
  margin: 0;
  padding: 0;
}

.hero h3 {
  color: #555;
}

.hero h1 {
  color: #333;
}